body{ text-align:center; background:#; }
 
div#outwrapper{
 width:1000px; height:auto; border:1px solid #000; margin:0 auto;
}
 
header{
 height:80px; border:1px solid #999; background:#e3e3e3;
} 
 
nav{
 text-align: left;
 
}
 
aside{
 float:right; width:250px; border:1px solid #777; height:auto; background:#dfdfdf;
}
 
section{
 width:740px; border:1px solid #555; height:600px;
}
 
div.widget{
 height:180px; border:1px solid #666;
}
 
div.floating{
 clear:both; line-height:0; height:0;
}
 
.pagination{
 margin: 10px;
 border:1px solid #000000;
 width: 322px;
}
footer{
 height:50px; border:1px solid #555; background:#dfdfdf;
}
/* ketika di akses oleh browser dengan lebar minimalnya 1200px */
@media (min-width: 1200px) {
}
 
/* ketika di akses oleh browser dengan lebar minimal 980px, dan maksimal 1024 */
@media (max-width: 1024px) {
 div#outwrapper{
  width:960px; height:auto; border:1px dashed #000; margin:0 auto;
 }
  
 section{
  width:700px; border:1px solid #555; height:600px;
 }
}
 
/* ketika di akses oleh browser dengan lebar maksimal 720 */
@media (max-width: 720px) {
 div#outwrapper{
  width:100%; height:auto; border:1px dashed #000; margin:0 auto;
 }
  
 section{
  width:auto; border:1px solid #555; height:600px;
 }
 
 aside{
  float:none; width:auto; border:1px solid #777; height:auto; background:#dfdfdf;
 }
  
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}